{% extends 'sous-categories.twig' %}

{% block nav_2 %}
	<div class="section_header_trois">
		<nav class="nav_2">
            <ul>
                {% for sous_categories in affiche_sous_categories %}
                    <li><a href="affiche_velos_vignettes.php?id={{ sous_categories.id_sous_categorie }}">{{ sous_categories.nom_sous_categorie }}</a></li>
                {% endfor %}
                <li><a href="affiche_velos_liste.php?id={{ affiche_id_sous_categorie.id_sous_categorie }}"><i class="fa-solid fa-list"></i></a></li>
            </ul>
		</nav>
	</div>
{% endblock %}



{% block main %}
    <!--Nom sous categorie-->
    <h3>{{ affiche_sous_categorie_actuelle.nom_sous_categorie }}</h3>
    <!--BOX articles-->
    <div class="articles_grid content wrapper">
        <!--Trie-des-données-->
        {% set nouveaux_velos = affiche_velo|filter(velo => velo.nouveau == 'oui') %}
        {% set velo_avec_reduction = affiche_velo|filter(velo => velo.prix_de_base != 0 and velo.nouveau != 'oui') %}
        {% set autres_velos = affiche_velo|filter(velo => velo.nouveau != 'oui' and velo not in velo_avec_reduction) %}
        {% set sorted_velos = nouveaux_velos|merge(velo_avec_reduction)|merge(autres_velos) %}
        <!--UN articles-->
        {% for affiche_velo in sorted_velos %}
            <article class="article_velo col-3">
                <!--BOX img-->
                <div class="image_article">
                    <div class="box-info">
                        <!--NEW oui/non-->
                        {% if affiche_velo.nouveau == 'oui' %}
                            <p class="info_velo_nouveau">nouveau</p>
                        {% endif %}
                        <!--PROMO oui/non-->
                        {% if affiche_velo.prix_de_base %} 
                            {% set economie = affiche_velo.prix_de_base - affiche_velo.prix %}
                            {% set pourcentage = (economie / affiche_velo.prix_de_base * 100) | round %}
                            <p class="article_velo_pourcentage">-{{ pourcentage }}%</p>
                        {% endif %}
                    </div>
                    <!--img-->
                    <a href="affiche_details_velos.php?id={{ affiche_velo.id_velo }}">
                        <img src="{{ affiche_velo.img_couleur_1 }}" alt="image du velo {{ affiche_velo.nom_velo }}">
                    </a>
                </div>
                <!--BOX texte-->
                <div class="texte_article">
                    <div class="box-titre-plus-note">
                        <!--nom vélo-->
                        <h4>{{ affiche_velo.nom_velo }}</h4>
                        <!--note sous forme d'étoiles-->
                        <div class="nombre_etoiles">
                            {% if affiche_velo.moy_note %} 
                                {% for i in 1..5 %}
                                    {% set full_star = (i <= affiche_velo.moy_note ) %}
                                    {% set half_star = (i > affiche_velo.moy_note and i - 0.5 <= affiche_velo.moy_note) %}
                                    <span class="etoile {% if full_star %}full{% elseif half_star %}half{% endif %}">&#9733;</span>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <!--prix-->
                    <p class="prix">
                        <span class="bold">{{ affiche_velo.prix }} €</span>
                        {% if affiche_velo.prix_de_base %} 
                            {% set economie = affiche_velo.prix_de_base - affiche_velo.prix %}
                            {% set pourcentage = (economie / affiche_velo.prix_de_base * 100) | round %}
                            <span class="texte_couleur_gris"><span class="texte_barrer"> {{ affiche_velo.prix_de_base }} €</span> économisez {{ economie }} €</span>
                        {% endif %}
                    </p>
                    <!--par mois-->
                    <p class="texte_surligner par_mois">ou {{ affiche_velo.prix_par_mois }} € par mois</p>
                </div>
            </article>
        {% endfor %}
    </div>
{% endblock %}